# 忽略可执行文件
*.exe

# 忽略调试文件
*.pdb
*.dll

# 忽略数据库文件
*.db

# 忽略日志文件
*.log
*.txt



# 忽略编译产物
bin/
build/

# 忽略IDE相关文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略node_modules（如果有前端项目）
node_modules/
dist/